.app-content {
  display: flex;
  flex-direction: row;
}

.app-title {
  text-align: center;
}

.game-card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: thin;
  margin: 15px;
  margin-right: 40%;
}

.game-card-image {
  margin: 10px;
}

.game-flexbox {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.platform-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.platform {
  width: 150px;
  align-items: center;
}
