.app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app-filters {
  display: flex;
  flex-direction: row;
}

.app-title {
  text-align: center;
}

/* Game Card Styling */

.game-card-body {
  width: 200px;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.game-card-img {
  height: auto;
  width: auto;
  margin: 10px;
}
.game-card-title {
  margin-left: 20px;
}

.game-card-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.game-card-flex:hover {
  background-color: rgba(90, 87, 87, 0.2);
}

.game-card-flex > * {
  flex: 50px;
}

.platform-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.platform {
  width: 150px;
  align-items: center;
}
